@media (max-width: 1281px) {
  #searchBtn {
    width: 0;
    display: none;
  }
  #calculator {
    width: 80%;
  }
  .footerListing h3 {
    font-size: 16px;
  }
}

@media (max-width: 1025px) {
  .mainMenu {
    height: 60px;
    padding: 0;
  }
  .navMenu {
    display: none;
  }
  .sScreenMainMenu {
    display: flex;
  }
  .sScreenNavMenu {
    display: flex;
  }
  .navItem {
    line-height: 60px;
  }
  .calcSearch {
    display: none;
  }
  .sScreenMainLogo {
    display: flex;
  }
  .headerLogoInfo {
    display: none;
  }
  .banerMini {
    grid-template-areas:
      "plotA plotB"
      "plotA plotC"
      "plotA plotD";
    grid-template-columns: 50% 50%;
    grid-template-rows: 33.33% 33.33% 33.34%;
  }
  .miniPallet {
    font-size: 14px;
  }
  .plotStructureD p {
    display: none;
  }
  .plotStructureD {
    padding: 0 25px;
  }
  .cosmContent {
    grid-template-columns: 100%;
    grid-template-rows: 1fr 0.2fr 0.2fr 0.2fr 0.2fr;
    grid-template-areas:
      "cosmA"
      "cosmB"
      "cosmC"
      "cosmD"
      "cosmE";
  }
  .cosmContentA {
    padding-right: 0;
  }
}

@media (max-width: 769px) {
  .sScreenNavMenu {
    font-size: 12px;
  }  
  .cosmPlotLeft {
    padding-right: 0;
  }
  .cosmPlotRight {
    padding-left: 0;
  }
  .cosmServices {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .footerContent {
    flex-wrap: wrap;
  }
}

@media (max-width: 641px) {
  .banerMini {
    grid-template-areas:
      "plotA"
      "plotB"
      "plotC"
      "plotD";
    grid-template-columns: 100%;
    grid-template-rows: 25% 25% 25% 25%;
  }
  .plotStructureA {
    padding: 0 25px;
  }
  .plotStructureA p {
    display: none;
  }
  .banerMiniContent {
    bottom: 0%;
  }
}
